@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

html {
  position: relative;
}

body {
  color: black;
  font-family: 'PT Sans', sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 75px;
}

.main-container {
  margin-bottom: 15px;
}

img.happy-people {
  height: 475px;
  width: 350px;
}

.footer {
  background-color: black;
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 75px;
}

.faq-collapse-header {
  cursor: pointer;
}

.logo {
  max-width: 100%;
}

.contact-logo {
  width: 35px;
  margin: 10px;
}

/* tablet or larger */
@media (min-width: 768px) {
  .faq-collapse-header {
    cursor: initial;
  }

  .logo {
    max-width: 250px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    max-width: 300px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo {
    max-width: 350px;
  }
}

.gold {
  color: rgb(234, 168, 57);
}

.header {
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
}

.faq-section {
  background-color: rgb(33, 33, 35);
}

.faq-question {
  display: inline-block;
  color: rgb(234, 168, 57);
}

.faq-arrow {
  margin-left: 4px;
}

.faq-answer {
  color: white;
}

.intro-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

a.button {
  text-align: center;
  display: inline-block;
  color: rgb(234, 168, 57);
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px solid rgb(234, 168, 57);
}

a.button:hover {
  color: rgb(234, 168, 57);
  text-decoration: initial;
}
