@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body {
  color: black;
  font-family: 'PT Sans', sans-serif;
}

.gold {
  color: rgb(234, 168, 57);
}

.header {
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
}

.faq-section {
  background-color: rgb(33, 33, 35);
}

.faq-header {
  color: rgb(234, 168, 57);
}

.faq-question {
  color: rgb(234, 168, 57);
}

.faq-answer {
  color: white;
}

.intro-row {
  margin-bottom: 10px;
}

a.button {
  text-align: center;
  width: 85px; /* fixed to largest button size (currently 'Sponsor') */
  display: inline-block;
  color: rgb(234, 168, 57);
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px solid rgb(234, 168, 57);
}

a.button:hover {
  color: rgb(234, 168, 57);
  text-decoration: initial;
}

#logo {
  max-height: 350px;
}

.subtitle {
  font-size: 3vw;
}

.top-buffer {
  margin-top: 40px;
}

.top-buffer-80 {
  margin-top: 80px;
}

.top-percent-buffer {
  margin-top: 10%;
}

.custom-panel {
  border-color: rgba(0,0,0,0);
  background-color: rgba(99, 62, 37, 0.72);
}

a {
  color: white;
}

a:hover {
  color: rgb(202, 202, 202)
}

#mlh {
  background-color: rgba(255,255,255,0.5);
  max-height: 150px;
  max-width: 256px;
}
